# Exercises chap 2

In [1]:
#2.11
#a
lst = (-7, -6 , -5, -4, -3, -2, -1)
print(sum(lst))
#b
avg_age = (9 + 10 + 11 + 12)/4
print(avg_age)
#c
print(2**20)
#d
print(4356//61)
#e
print(4365%61)

-28
10.5
1048576
71
34

In [2]:
#2.12
s1 = '-'
s2 = '+'
#a
print(s1 + s2)
#b
print(s1 + s2 + s1)
#c
print(s2 + s1 + s1)
#d
print(s2 + s1 + s1 + s2 + s1 + s1)

-+
-+-
+--
+--+--

In [3]:
#2.13
s = 'abcdefghijklmnopqrstuvwxyz'
print(s[0], s[2], s[25], s[24], s[15])

a c z y p

In [4]:
#2.14
s = 'goodbye'
print(s[0] == 'g')
print(s[6] == 'g')
print(s[0] == 'g', s[1] == 'a')
print(s[6] == 'x')
print(s[3] == 'd')
print(s[0] == 'g', s[6] == 'g')

True
False
True False
False
True
True False

In [5]:
#2.15
print(len('anachronistically') ==1+ len('counterintuitive'))
print(('misinterpretation'<'misrepresentation'))
print("floccinaucinihilipilification".find("e")==-1)
print(len("counterrevolution") == len("counter") + len("resolution"))

True
True
True
True

In [6]:
#2.16
a = 6
b = 7
c = (a + b)/2
print(c)
inventory = ('paper', 'staples', 'pencils')
print(inventory)
F = 'John'
M = 'Fitzgerald'
L = 'Kennedy'
full_name = (F + ' ' + M + ' ' + L )
print(F + ' ' + M + ' ' + L )

6.5
('paper', 'staples', 'pencils')
John Fitzgerald Kennedy

In [7]:
#2.17
a = 17
b = -9
c = (a + b)/2
print(a + b < 10)
inventory = ('paper', 'staples', 'pencils')
F = 'John'
M = 'Fitzgerald'
L = 'Kennedy'
full_name = (F + ' ' + M + ' ' + L )
print(len(inventory) == 5*len(full_name))
print(c == 24)
print(len(M) > len(F) < len(L))
print(len(inventory) == 0 or 10)

True
False
False
True
10

In [8]:
#2.18
flowers = ['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly', 'lilly of the valley']
print('potato' in flowers)
thorny = ['rose', 'bougainvillea', 'yucca']
poisionous = ['marigold', 'daylilly', 'lilly of the valley']
dangerous = [thorny + poisionous]
print(dangerous)

False
[['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly', 'lilly of the valley']]

In [9]:
#2.19
answers = ['Y','N','Y','N','Y','N','Y','N']
numYes = 4
numNO = 4
percentYes = 4/len(answers) * 100
print(percentYes)
lst = answers.sort(reverse = True)
print(lst)

50.0
None

In [10]:
#2.20
s = 'top'
print(list(reversed(s)))

['p', 'o', 't']

In [11]:
#2.21
s = (input("The fist name of author: "))
t = (input("The second name of author: "))
print("The author is", s +' '+ t)

The fist name of author: Ljibomir
The second name of author: Perkovic
The author is Ljibomir Perkovic

In [12]:
#2.22
lst = [3, 7, -2, 12]
diff = (lst[3] - lst[2])
print(diff)

14

In [13]:
#2.23
monthsT = ['jan', 'feb', 'mar', 'may']
monthsL = ('jan', 'feb', 'mar', 'may')
print(monthsT.insert(3 ,'april'))
print(monthsL.insert(3 ,'april'))
print(monthsT.append('june'))
print(monthsL.append('june'))
print(monthsT.pop())
print(monthsL.pop())
print(monthsT.remove[1])
print(monthsL.remove[1])
print(monthsT.sort(reverse = True))
print(monthsL.sort(reverse = True))

None

AttributeError: 'tuple' object has no attribute 'insert'

In [ ]:
grades = ['A','B','C','D','A','B','C','A']
count = (A = 1, B = 2, C = 3, D = 4)
print(grades)

In [14]:
#2.26
import math
r = 10
x1 = 0
y1 = 0
x2 = float(input("x2: "))
y2 = float(input("y2: "))
d = math.sqrt((x2-x1)**2 + (y2 - y1)**2)
print(r>d)

x2: 6
y2: -6
True

In [15]:
#2.27
from math import sin
from math import pi
lenght = float(input("Enter the lenght: "))
angle = float(input("Enter the angle: "))
radian = (pi * angle)/180
height = lenght * sin(radian)
print(height)

Enter the lenght: 16
Enter the angle: 17
4.677947275563788

In [16]:
#2.28
lst = [1,2,3,4,5]
middle_index = int(len(lst)/2)
print(middle_index)
lst.remove(2)
lst.append(2)
print(lst)

2
[1, 3, 4, 5, 2]

In [18]:
#2.29
print(0 + 1 == 1 == 2-1)
print(2 + 3 + 4 == 4 + 5 == 7 + 2)
print(1 < -1 + 3 == 3 + 2 > 4)

True
True
False

In [20]:
#2.30
P = 'civic'
print(list(reversed(P)))

['c', 'i', 'v', 'i', 'c']

In [21]:
#2.31
lst = [2, 3, 4]
lst.extend([5,6])
print(lst)
lst2 = lst.copy()
print(lst2)
lst.clear()
print(lst)

[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[]

# chap 2 practice

In [24]:
#practice
print(1+2+3+4+5)
print("the average age:", (23 + 19 + 31)/3)
print(73//403)
print(403%73)
print(2**10)
print(abs(54 - 57))
print(min((34,99, 29.95, 31.50)))

15
the average age: 24.333333333333332
0
38
1024
3
29.95

In [22]:
#practice 
#a
print(2 + 2 < 4)
#b
print(7//3 == 1 + 1)
#c
print(3**2 + 4**2 == 25)
#d
print(1387 % 19 == 0)
#e
print(2 + 4 + 6 > 12)
#f
print(31 % 2 == 0)
#g
print(float(min(34.99, 29.95, 31.50)) < 30.00)

False
True
True
True
False
False
True

In [28]:
#pactice
s1 = 'ant'
s2 = 'bat'
s3 = 'cod'
print(s1 +' '+ s2 +' '+ s3)
print(s1 * 9)
print(s1 +' '+ s2 * 2 +' '+ s3 * 3)
print((s1 +' '+ s2) * 7)

ant bat cod
antantantantantantantantant
ant batbat codcodcod
ant batant batant batant batant batant batant bat

In [29]:
#practice
s = '0123456789'
print(s[0])
print(s[1])
print(s[6])
print(s[8])
print(s[9])

0
1
6
8
9

In [31]:
#practice
words = ['bat', 'ball', 'barn', 'basket', 'badminton']
words.sort()
print(words)
print(words[0] , words[4])

['badminton', 'ball', 'barn', 'basket', 'bat']
badminton bat

In [36]:
#practice
grades = [9,7,7,10,3,9,6,6,2]
print(grades.count(7))
print(grades.insert(8, 4))
print(max(grades))
print(grades.sort())
print(sum(grades)/9)

2
None
10
None
7.0